apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: sustain-kube-metrics
rules:
- nonResourceURLs: ["/metrics"]
  verbs: ["get"]
- apiGroups: [""]
  resources:
  - pods
  verbs: ["get", "list", "watch"]
