apiVersion: sustain-kube.com/v1alpha1
kind: CarbonEstimator
metadata:
  labels:
    app.kubernetes.io/name: sustain-kube
    app.kubernetes.io/managed-by: kustomize
  namespace: sustain-kube-system
  name: carbonestimator-sample
spec:
  prometheusURL: http://mock-power-service.sustain-kube-system.svc.cluster.local:80
  levelCritical: 50
  levelWarning: 35
  powerMetricQuery: "sum(node_power_watts)" # optional user-defined prometheus query
  timeZone: "TW" #region setting
  secretRef:
    name: carbon-intensity-secret
    namespace: sustain-kube-system